name: tests


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup python3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v5
      - run: uv sync
      - run: uv run ruff check
        env:
          FORCE_COLOR: 1
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup python3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v5
      - run: uv sync
      - run: uv run mypy
        env:
          FORCE_COLOR: 1

  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        python:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v6
      - name: Setup python${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python }}"
      - uses: astral-sh/setup-uv@v5
      - run: uv sync
      - name: pytest
        run: uv run pytest -vv README.rst tests/sample.rst tests
        env:
          FORCE_COLOR: 1
